<header>
  <mat-toolbar color="primary">letshang</mat-toolbar>
</header>

<section class="container" style="max-width: 100%; margin-bottom: 10px">
  <div class="row full-width">
    <!-- responsive row has 12 columns by default -->

    <mat-card class="col-md-9">
      <form #userForm="ngForm" (ngSubmit)="onSave(userForm.value)" novalidate>
        <td-steps [mode]="stepperMode">
          <td-step label="What do you want to do?" [active]="true">
            <mat-form-field>
              <input matInput placeholder="Event name" name="name" required type="text" maxlength="80" [(ngModel)]="name"
                required />
            </mat-form-field>
            <br>
            <mat-button-toggle-group #group="matButtonToggleGroup" name="eventtyp" [(ngModel)]="eventtypThingy"
              required>
              <mat-button-toggle value="Sport">
                <mat-icon>pool</mat-icon>Sport
              </mat-button-toggle>
              <mat-button-toggle value="Game">
                <mat-icon>casino</mat-icon>Game
              </mat-button-toggle>
              <mat-button-toggle value="Going out">
                <mat-icon>free_breakfast</mat-icon>Go out
              </mat-button-toggle>
              <mat-button-toggle value="Shopping">
                <mat-icon>store</mat-icon>Shopping
              </mat-button-toggle>
              <mat-button-toggle value="Cooking">
                <mat-icon>kitchen</mat-icon>Cooking
              </mat-button-toggle>
              <mat-button-toggle value="Movie">
                <mat-icon>theaters</mat-icon>Movie
              </mat-button-toggle>
              <mat-button-toggle value="other">
                <mat-icon>input</mat-icon>Other
              </mat-button-toggle>
            </mat-button-toggle-group>
            <div>
              <button mat-raised-button color="primary" (click)="step.close()" type="button">Next</button>
            </div>
          </td-step>
          <td-step label="When do you want to hang?">
            <mat-form-field>
              <input matInput name="time" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date" [(ngModel)]="time"
                required>
            </mat-form-field>
            <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt2></owl-date-time>
            <br>
            <mat-form-field>
              <input matInput name="timeframe" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Timeframe"
                [(ngModel)]="timeframe">
            </mat-form-field>
            <owl-date-time [pickerMode]="'dialog'" [pickerType]="'timer'" #dt1></owl-date-time>
            <div>
              <button mat-raised-button matStepperBack type="button">Back</button>
              <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
            </div>
          </td-step>
          <td-step label="Message">
            <mat-form-field>
              <input matInput placeholder="Message" name="message" maxlength="258" required type="text" [(ngModel)]="message"
                required/>
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperBack type="button">Back</button>
              <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
              <button mat-raised-button color="accent" type="submit">{{valbutton}}</button>
            </div>
          </td-step>
        </td-steps>
      </form>
    </mat-card>

    <mat-card class="col-md-3">the mighty USERLOGIN</mat-card>

  </div>


</section>
<section class="container" style="max-width: 100%">
  <div class="row">
    <mat-card class="col-md-12">
      <mat-accordion *ngFor="let kk of Repdata" [hidden]="kk.time.valueOf() < dateNow.valueOf()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon matTooltip={{kk.eventtyp}} matTooltipPosition="above">{{kk.eventtyp | eventTypIcon}}</mat-icon><b>{{kk.name}}</b>
            </mat-panel-title>
            <mat-panel-description>
              {{kk.time | date: 'dd.MM.yyyy'}}
            </mat-panel-description>

          </mat-expansion-panel-header>

          {{kk.message}}

          <mat-action-row>
            <button mat-button color="warn" (click)="edit(kk)" type="button">Edit</button>
            <button mat-button color="primary" (click)="delete(kk._id)" type="button">Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</section>
<footer></footer>
