<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>QualityTime.today</span>
      <span class="toolbar-spacer"></span>
      <!-- <mat-icon class="example-icon">location_city</mat-icon> -->
      <span>
        <form [style.fontSize.px]="14" style="width:120px">
          <mat-form-field style="width:120px">
            <input matInput value="Augsburg">
            <mat-icon matPrefix>location_city</mat-icon>
          </mat-form-field>
        </form>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<section class="container" style="max-width: 100%; margin-bottom: 10px">
  <div class="row">
    <!-- responsive row has 12 columns by default -->

    <mat-card class="col-md-9">
      <app-eventwizard></app-eventwizard>
    </mat-card>

    <mat-card class="col-md-3">
      <app-login></app-login>
    </mat-card>

  </div>


</section>
<section class="container" style="max-width: 100%">
  <div class="row">
    <mat-card class="col-md-12">
      <app-eventlist></app-eventlist>
    </mat-card>
  </div>
</section>
<footer></footer>
